.main-link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;

  margin-bottom: 20px;
}

.amount-btn {
  margin-bottom: 20px;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  font-weight: 700;
}

.even {
  background-color: green;
}

.odd {
  background-color: yellow;
}

.films-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
